---
layout: page
title: Golden Ruby Games
description: Golden Ruby Games is a small, indie-game company located in New York City. We are dedicated to making unique and memorable games for everyone.
category: blog
bodyclass: home
---

{% for post in site.categories.blog | limit: 10 %}

  <article class="post">
      <header class="post-header">
          <h1 class="post-title"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="post-meta">Posted by {{ post.author }} on {{ post.date | date_to_string }}</div>
          <ul class="no-list tags">
            {% for item in post.tags %}
              <li><a href="{{ site.baseurl}}">{{ item }}</a></li>
            {% endfor %}
          </ul>
      </header>
      <div class="post-content">
        {{ post.content }}
      </div>
      <footer class="post-footer">
          <div class="post-comments">
              <a href="{{ site.baseurl}}{{post.url}}#disqus_thread">Link</a>
          </div>
      </footer>
  </article>

  {% endfor %}

