<section class="titles">
    <ul class="no-list blocks">
        {% for post in site.categories.block %}
      		<li class="block">
            	<div class="inside">
                <h3 class="block-title">
                  <a href="{{ site.baseurl}}{{ post.link }}">{{ post.title }}</a>
                </h3>
                <a href="{{ site.baseurl}}{{ post.link }}">
                  <img src="{{ site.baseurl}}{{ post.image }}" alt="{{ post.title }}"/>
                </a>
              </div>
      		</li>
      {% endfor %}
    </ul>
</section>

