<header class="site-header" role="banner">
	<nav role="navigation">
		<ul class="no-list">
            <li><a href="{{ site.baseurl}}/about">About</a></li>
            <li><a href="{{ site.baseurl}}/games">Our Games</a></li>
            <li><a href="{{ site.baseurl}}/contact">Contact</a></li>
            <li class="social">
                <a href="https://www.facebook.com/GoldenRubyGames"><img src="/img/facebook-white.svg" alt='facebook logo'/></a>
                <a href="https://twitter.com/GoldenRubyGames"><img src="/img/twitter-white.svg" alt='twitter logo'/></a>
                <a href="http://goldenrubygames.tumblr.com/"><img src="/img/tumblr-white.svg" alt='tumblr logo'/></a>
            </li>
		</ul>
	</nav>
</header>
<a href="/" class="logo-lights">
    <div class="lights-wrapper">
        <canvas id="lights"></canvas>
        <div class="logo">
            <img src="{{ site.baseurl}}/img/logo2.png" alt="golden ruby games logo"/>
        </div><!-- logo -->
    </div><!-- lights-wrapper -->
</a>