.post
  margin-bottom: $gutter
  padding-bottom: $gutter
  border-bottom: 1px solid $primary

  h1 a
    color: $text-color
    
  header
    margin-bottom: .5em

.post-meta
  color: tint($quadrary, 70%)
  @extend .font-block

.tags
  margin: $gutter/8 0
  +clearfix

  a
    @extend .font-block
    background: $secondary
    color: white
    padding: .25em .5em
    float: left
    display: block
    margin: 0 .5em .5em 0

    &:hover
      background: $tertiary
      text-decoration: none

.post-comments
  @extend .font-block
  text-align: right

//wordpress thing
.post-content

  img
    display: block
    margin: 1em 0

.games
  +clearfix
  margin-bottom: 5%  

  li
    background: white
    margin-bottom: $gutter
    +box-sizing(border-box)

    @include breakpoint($medium)
      width: 48.25%
      float: left

      &:nth-child(odd)
        margin-right: 1.75%

      &:nth-child(even)
        margin-left: 1.75%

    h1
      margin: 0

  .text
    padding: $gutter/2

  .platform
    @extend .font-block

.action

  a
    @extend .font-block
    background: $secondary
    color: white
    padding: 1em
    text-align: center
    display: block

    &:hover
      background: $primary
      text-decoration: none

.downloads
  padding-bottom: $gutter/4

  img
    margin-bottom: $gutter/4

  h3
    margin-bottom: $gutter/2

  a

    &:hover
      +opacity(.5)

.game-page .block.downloads
  text-align: center 

.info-section
  
  ul.no-list
    padding: $gutter/2
    font-size: .9em

  li
    margin-bottom: $gutter/2

  p
    margin: 0

    &.label
      font-weight: 800

.header-image
  margin-bottom: $gutter/2

.post-content

  h2
    margin: $gutter/2 0 $gutter/4

.game-section
  border-top: 1px solid $secondary
  padding-top: $gutter
  margin-top: $gutter

.game-photos
  li
    margin-bottom: $gutter/2

.game-icon, .game-logo
  
  h3
    margin-bottom: $gutter/2

.team

  p
    padding: 0 $gutter/2
    font-size: .9em

    &.name
      padding-top: $gutter/2
  li
    border-bottom: 1px solid $secondary
    padding-bottom: $gutter/2

.staff

  li
    border-top: 1px solid $secondary
    padding-top: $gutter
    margin-top: $gutter

    p

      @include breakpoint($medium)
        margin-left: 30%

.staff-photo
  text-align: center
  padding-bottom: $gutter

  @include breakpoint($medium)
    float: left
    padding: 0 5% 0 0
    max-width: 25%
